<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Add page</h3>
<form action="">
    <p>Book name <input name="title"></p>
    <p>price <input name="price"></p>
    <p>date <input name="date"></p>
    <p>publish<input name="publish"></p>
    <p>author<input name="author"></p>
</form>
</body>
</html>